body {
  color: black;
  background-color: white; /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.logostyle {
  height: 100px;
  width: 100px;
}
.btn2 {
  background-color: #393e46;
}
.brand {
  font-size: 40px;
  /* font-family: "Capriola", sans-serif; */
  font-family: "Merriweather", serif;
}
.card1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-one {
  padding-top: 15px;
  justify-content: center;
  width: 60%;
  margin: auto;
}
h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.9rem;
  padding-top: 25px;
  font-weight: 200;
  padding-bottom: 20px;
}
.navu:hover {
  text-decoration: underline;
  font-size: 1.2rem;
}

.dots {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  padding-top: 25px;
}
.line {
  border-color: #e8e8e8;
  border-style: none;
  border-top-style: solid;
  width: 70%;
  justify-content: center;
}
.heading {
  margin-top: 25px;
  font-family: "Castoro", serif;
}
p {
  font-size: 1rem;
  font-family: Karla, sans-serif;
  color: #555;
  justify-content: center;
}

#pricing {
  padding: 60px;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
  font-family: "Castoro", serif;
}
.new2 {
  text-align: center;
  width: 60%;
  margin: auto;
}
.slogan1 {
  font-size: 1.6rem;
  position: relative;
  top: -42px;
  left: 185px;
}
.dogposter {
  height: 400px;
  width: 80%;
  margin: auto;
  padding-left: 300px;
}

@media only screen and (max-width: 768px) {
  .dogposter {
    height: 300px;
    width: 90%;
    padding-left: 30px;
  }
  .slogan1 {
    display: none;
  }
}
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-top: 10px;
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  padding-top: 5px;
  display: flex;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-flex;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #ea4335;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
